/*.center {*/
    /*margin-left: 30%;*/
/*}*/


.error {
    color:red;
    font-family: 'Roboto', sans-serif;;;
}

fieldset {
    display: inline-block;
}


.rounded-image {
    border-radius: 50%;
}

/*css for button*/
/*.browse {*/
    /*display: inline;*/
    /*!*position: absolute;*!*/
    /*margin: 50%;*/

/*}*/


legend {
    color: white;
}


.video-container {
    height: 100vh;
    width: 100%;
    display: inline;

}

.main-video {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    width: 100%;
}


iframe {
    pointer-events: none;
    position: absolute;
    width: 100%;
}


input, .card-text, .card-link {
   font-family: 'Roboto', sans-serif;
}


.side-menu {
    height: 100vh;
}

.card-format {
    width: 20rem;
    margin-bottom: 20px;
}


.search-bar {
    margin-bottom: 6rem;
    padding-left: 0;
}

body {
    background-color: #000000;
    font-family: 'Henny Penny', cursive;
    color: white;
}