.center {
    margin-left: 16%;
}

.header {
    margin-left: 40%;
}

.error {
    color:red;
    font-family: 'Roboto', sans-serif;;;
}

fieldset {
    display: inline-block;
    color: #e2c20f;
    font-size: 20px;
}

.individual-ad {
    background-color: #540b0b;
    color: white;
    border-radius: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.login {
    margin-left: 30%;
    margin-right: 30%;
}

.rounded-image {
    border-radius: 50%;
}

/*css for button*/
/*.browse {*/
    /*display: inline;*/
    /*!*position: absolute;*!*/
    /*margin: 50%;*/

/*}*/


legend {
    color: white;
}


.video-container {
    height: 100vh;
    width: 100%;
    display: inline;

}

.main-video {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    width: 100%;
}


iframe {
    pointer-events: none;
    position: absolute;
    width: 100%;
}


input, .card-text, .card-link, .note {
   font-family: 'Roboto', sans-serif;
}

.ad {
    margin-top: 4%;
}


.side-menu-profile {
    height: 100vh;
    background-color: #656565;
    color: #ffffff;
}


.side-menu-public {
    height: 100vh;
    background-color: #0a1f02;
    color: #ffffff;
}



.profile-content {
    margin-left: 25px;
}

.card-format {
    width: 20rem;
    margin-bottom: 20px;
}


.search-bar {
    margin-bottom: 6rem;
    padding-left: 0;
}

body {
    background-color: #000000;
    font-family: 'Henny Penny', cursive;
    color: white;
}