.format {
    background-color: #091e23;
}


.navbar-default .navbar-nav > li > a {
    color: white;
}


.navbar-default .navbar-header > a {
    color: white;
    font-size: 25px;
}

body {
    background-color: #000000;
    font-family: 'Henny Penny', cursive;
}